[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
drf-spectacular = "*"
pytz = "*"
jsonsubschema = "*"
psycopg2 = "*"
sentry-sdk = "*"
django-allauth = "*"
whitenoise = "*"

[dev-packages]
wemake-python-styleguide = "*"
model-bakery = "*"
pytest-django = "*"
pytest-cov = "*"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"

[requires]
python_version = "3.10"
