[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
drf-spectacular = "*"

[dev-packages]
wemake-python-styleguide = "*"

[requires]
python_version = "3.10"
